flows.json
[
    {
        "id": "f04b55fd8b31d7f3",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "263e95894888312b",
        "type": "http request",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.432512&lon=-99.133543&exclude=hourly,daily&appid=fc86ae3edc820485546333cd16ee9d52&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "b66068732e1a9d17"
            ]
        ]
    },
    {
        "id": "b66068732e1a9d17",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "a4fc29d3e3cff6ae",
                "a2b55742410e1368",
                "ec6ddae6a2a8631c"
            ]
        ]
    },
    {
        "id": "1b5b4a80afb8d49f",
        "type": "inject",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "263e95894888312b",
                "8e7d80d2bde36e58"
            ]
        ]
    },
    {
        "id": "eebd0be544069452",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "5c52140d008666cf",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "a4fc29d3e3cff6ae",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "eebd0be544069452"
            ]
        ]
    },
    {
        "id": "a2b55742410e1368",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "5c52140d008666cf"
            ]
        ]
    },
    {
        "id": "561d89306f7fd535",
        "type": "mqtt in",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "4dc9cfbf75ee6669",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "fb99bec918bae18b"
            ]
        ]
    },
    {
        "id": "fb99bec918bae18b",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "8fd9b67069f64d98",
                "bca37b88ae22b5da",
                "1b83cef1d06d82a7",
                "c8279404cdcdc49d"
            ]
        ]
    },
    {
        "id": "8fd9b67069f64d98",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "c714a92eed04459a"
            ]
        ]
    },
    {
        "id": "c714a92eed04459a",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 1,
        "width": 12,
        "height": 4,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bca37b88ae22b5da",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 540,
        "wires": [
            [
                "0e0cab023d5ab5d5"
            ]
        ]
    },
    {
        "id": "0e0cab023d5ab5d5",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 8,
        "width": 12,
        "height": 4,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "721c7cf4c46249ef",
        "type": "inject",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "0af1ad7a1a079456"
            ]
        ]
    },
    {
        "id": "0af1ad7a1a079456",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Sofia San Felipe\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+',\"uv\":' + global.get (\"uvFlow5\") + ',\"aqi\":' + global.get (\"aqiFlow5\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "289beee62d425e29",
                "ddaddc81120908c4"
            ]
        ]
    },
    {
        "id": "289beee62d425e29",
        "type": "debug",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 860,
        "wires": []
    },
    {
        "id": "ddaddc81120908c4",
        "type": "mqtt out",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b19cfbfb792f6aa6",
        "x": 730,
        "y": 800,
        "wires": []
    },
    {
        "id": "7219cb922c33014d",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "6f61ea005a736b25",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Informacion General",
        "info": "",
        "x": 190,
        "y": 440,
        "wires": []
    },
    {
        "id": "206e6ca4247f2b50",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Enviador",
        "info": "",
        "x": 180,
        "y": 760,
        "wires": []
    },
    {
        "id": "ec6ddae6a2a8631c",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "4c7dd43151de2de8"
            ]
        ]
    },
    {
        "id": "4c7dd43151de2de8",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 6,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "UV",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "8e7d80d2bde36e58",
        "type": "http request",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/air_pollution?lat=19.432512&lon=-99.133543&appid=fc86ae3edc820485546333cd16ee9d52",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "be83e30d169a5a08"
            ]
        ]
    },
    {
        "id": "be83e30d169a5a08",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "3e4c0db5a4edcddb"
            ]
        ]
    },
    {
        "id": "3e4c0db5a4edcddb",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Aqi",
        "func": "msg.payload =\nmsg.payload. list[0].main.aqi;\nglobal.set (\"aqiFlow5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 280,
        "wires": [
            [
                "851cf731cbdab7f9"
            ]
        ]
    },
    {
        "id": "851cf731cbdab7f9",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 8,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad de Aire",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "1b83cef1d06d82a7",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 600,
        "wires": [
            [
                "bb85f0fefb1af284"
            ]
        ]
    },
    {
        "id": "c8279404cdcdc49d",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Aqi",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 680,
        "wires": [
            [
                "5e2e842bebf13ee0"
            ]
        ]
    },
    {
        "id": "bb85f0fefb1af284",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 3,
        "width": 9,
        "height": 4,
        "label": "uv",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5e2e842bebf13ee0",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 10,
        "width": 9,
        "height": 4,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3311bd7cce560cda",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "5f1c2d6e5f90d028",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "02e64e30a7f9d1eb",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "be39227c0e3cc611",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "8da98db5b5e2f75e",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "da63209347a0ecc3",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "4b895c50b115f3f0",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "39919551139b5861",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "557cd6ca5c3d39de",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "d5c3232a8942f36a",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "365f1bf412108f2a",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 7,
        "width": 24,
        "height": 1
    },
    {
        "id": "ace4725ee350761e",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "56023f6462f5329d",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "009ddf7e4826cdd1",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "1167792c8ed9cc5e",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "23e233393ff5a984",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "755c4fd5c87aab86",
        "type": "ui_group",
        "name": "Personal",
        "tab": "17dcf33741d41f5a",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4dc9cfbf75ee6669",
        "type": "mqtt-broker",
        "name": "35.157.252.226",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "23e233393ff5a984",
        "type": "ui_group",
        "name": "General",
        "tab": "17dcf33741d41f5a",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b19cfbfb792f6aa6",
        "type": "mqtt-broker",
        "name": "Broker G9",
        "broker": "18.157.172.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "17dcf33741d41f5a",
        "type": "ui_tab",
        "name": "Flow 5 - Sofia Caballero - Diplomado IoT- #codigoiot.com#diplomadioiot #samsung",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]